COBOLREG     SHEETINFO "E:\\LPG\\Samples\\PowerCOBOL_FORM\\COBOL-REGISTRATIONS.WIN"
EXEINFO      EXEINFO
BEGIN
        0x55,
        0x103,
        0x8,
        0x2b,
        0xc,
        0x13,
        0x4f50,
        0x4357,
        0x424f,
        0x4300,
        0x424f,
        0x4c4f,
        0x522d,
        0x4745,
        0x5349,
        0x5254,
        0x5441,
        0x4f49,
        0x534e,
        0x452e,
        0x4558,
        0x2200,
        0x5000,
        0x2,
        0xf701,
        0x10e0,
        0x0,
        0x100,
        0xe00,
        0x100,
        0xe00,
        0x300,
        0x1900,
        0x4300,
        0x424f,
        0x4c4f,
        0x4552,
        0x47,
        0x800,
        0x5000,
        0x2,
        0xf601,
        0xd4
END
